html{}
body{}

.clearAfter:after{float:none;clear:both;content:"";display:table;}

#headerContainer{border-bottom:solid 1px blue;width:100%;height:50px;margin:0 0 20px;}
#bodyContainer{width:100%;margin:0 auto;}
#slideContainer{border:solid 1px black;width:20%;height:450px;;min-height:450px;float:left;overflow-y:scroll;}
#activityContainer{border:solid 1px blue;width:79%;min-height:450px;float:left;margin:0 0 0 5px}
#newSlideBtn{}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; margin: 0 auto;}
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 120px; }
#sortable li span {margin-left: -1.3em; }

#categoryListContainer{}
#categoryListContainer #mainList{}
#categoryListContainer .subCategory{display:none;}
#categoryListContainer #mainList li{list-style:none;float:left;border-right:solid 1px black;margin:0 10px 0 0;padding:0 10px 0 0;cursor:pointer}
#categoryListContainer #base_category li, #canvas_category li{list-style:none;float:left;border-right:solid 1px black;margin:0 10px 0 0;padding:0 10px 0 0;cursor:pointer;height:20px;}


@media screen and (min-width: 1600px) and (max-width: 1800px) {
        
}

@media screen and (min-width: 1180px) and (max-width: 1400px) {
	
}
